
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# JMeter
apache-jmeter-*/
jmeter/results/*.jtl
jmeter/results/*.log
jmeter/report/
